<div>
    <h1>Travel Buddy</h1>
    <h6>-Helpful Tools for the Frequent Traveler</h6>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>
                Quick conversions for US/Metric units, Time Zone, Temp, and Currency Exchange
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                Travel Planner
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                Currency Exchange Rates, Gold Prices, Stock Market Performance, CryptoCurrency Performance, Gas Prices, 
                Estimated Cost of Living, Median Income
            </p>
        </div>
    </div>
</div>